<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<body>

<div ng-app="app" ng-controller="HttpGetController">
    <p>Name: <input type="text" name="txtNname" ng-model="sName" required /></p>
    <p>Phone: <input type="text" name="txtPhone" ng-model="sPhone" required /></p>
    <p>City: <input type="text" name="txtCity" ng-model="sCity" required /></p>
    <button ng-click="SendData()">Submit</button>
    <hr />
    {{abc}}
    {{PostDataResponse}}
    <hr/>
    {{ResponseDetails}}
</div>


<script>
    var app = angular.module("app", []);
    app.controller("HttpGetController", function ($scope, $http) {

        $scope.sName = "Ngo Thanh Viet";
        $scope.sPhone = "1234";
        $scope.sCity ="Saigon";

        $scope.SendData = function () {
           // use $.param jQuery function to serialize data from JSON 
             var data = $param({
                Name: $scope.sName,
                Phone: $scope.sPhone,
                City: $scope.sCity
            });
        
        /*
            var data1 ={
            "Name": "Nguyen Thanh Viet",
            "Phone": "911",
            "City": "Saigon"
            };
        */
        /*    var url ="post.txt";
            $http.post(url, data1).then(function (response) {
                $scope.PostDataResponse = data1;
            }, function (response) {
                $scope.ResponseDetails = "Sai roi !!!";
            });
        */    
            
            var config = {
                headers : {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                }
            }
            

            $http.post('post.txt', data, config)
            .success(function (data, status, headers, config) {
                $scope.PostDataResponse = data;
            })
            .error(function (data, status, header, config) {
                $scope.ResponseDetails = "Data: " + data +
                    "<hr />status: " + status +
                    "<hr />headers: " + header +
                    "<hr />config: " + config;
            });

            




        };

    });
</script>


</body>
</html>