<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>  

<body>

<h2>Validation Example</h2>
<hr/>

<form ng-app="myApp" ng-controller="validateCtrl" 
name="myForm" action="d3_get.html" >

	<p>Username:<br>
	<input type="text" name="user" ng-model="user" required />
	<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
	<span ng-show="myForm.user.$error.required">Username is required.</span>
	</span>
	</p>

	<p>Email:<br>
	<input type="email" name="email" ng-model="email" required>
	<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
	<span ng-show="myForm.email.$error.required">Email is required.</span>
	<span ng-show="myForm.email.$error.email">Invalid email address.</span>
	</span>
	</p>

	<p>Final mark:<br>
	<input type="number" name="txtMark" ng-model="mark" min="0" max="100" required>
	<span style="color:red" ng-show="myForm.txtMark.$dirty && myForm.txtMark.$invalid">
	<span ng-show="myForm.txtMark.$error.required">Mark is required.</span>
	<span ng-show="myForm.txtMark.$invalid">Invalid final mark.</span>
	</span>
	</p>

	<p>
	<input type="submit"
	ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
	myForm.email.$dirty && myForm.email.$invalid">
	</p>

</form>

<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.user = '';
    $scope.email = 'son.thanh@gmail.com';
});
</script>

</body>
</html>